<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paotonet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paotonet">
        <activity android:name=".Activities.ChildrenInfo"></activity>
        <activity android:name=".Activities.GeneralMessages" />
        <activity
            android:name=".Activities.LiveStream"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Activities.HealthStatement" />
        <activity android:name=".Activities.ParentInterface" />
        <activity android:name=".Activities.ParentLogin" />
        <activity android:name=".Activities.TeacherLogin" />
        <activity
            android:name=".ui.login.TeacherLogin"
            android:label="@string/title_activity_teacher_login" />
        <activity android:name=".Activities.TeacherInterface" />
        <activity android:name=".Activities.PrivateMessages" />
        <activity android:name=".Activities.Attendance" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".Objects.DailyReceiverParent"
            android:enabled="true" />
        <receiver
            android:name=".Objects.DailyReceiverTeacher"
            android:enabled="true" />
    </application>

</manifest>